*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Used only for colored theme */
  --danger-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #e1ad01;
  --default-textColor: #102a43;
}

.test {
  color: #eff2f5
}


html,a {
  scroll-behavior: smooth;
}

body {background-color: #150E28;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: white;
}


a {
  text-decoration: none;
  color: var(--default-textColor);
}




.pulse-out-fade {
  animation: pulse-out-fade 3s infinite;
}
.rotate {
  animation: rotate 60s infinite linear;
}

.d-0 {
  animation-delay: 0s;
}
.d-0-5 {
  animation-delay: 0.5s;
}
.d-1 {
  animation-delay: 1s;
}
.d-1-5 {
  animation-delay: 1.5s;
}

@keyframes pulse-out-fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  } 
  25% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}